version: '3.8'
services:
  # traefik:
  
  # next-app:
  # TO BE WRITTEN LATER
  # TO BE CONNECTED UNDER THE SAME DOMAIN WITH GO-APP USING TRAFEIK
  # REROUTE CONDITIONAL INCOMING ROUTES -> 3000
  # ALSO EXPOSE 3000 to LOCAL FOR DEV TESTING
  # NO COPY
  # NO BUILD
  # SET CONTEXT
  # RUN COMMAND `bun dev`
  # MAKE SURE HOTRELOAD WORKS

  # go-app:
  # TO BE WRITTEN LATER
  # TO BE CONNECTED UNDER THE SAME DOMAIN WITH NEXT-APP USING TRAFEIK
  # REROUTE CONDITIONAL INCOMING ROUTES -> 8080
  # ALSO EXPOSE 8080 to LOCAL FOR DEV TESTING
  # NO COPY
  # NO BUILD
  # SET CONTEXT
  # RUN COMMADN `air` 
  # MAKE SURE HOTRELOAD WORKS

  postgres:
    image: postgres:17-alpine
    container_name: ${POSTGRES_CONTAINER_NAME}
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
